<div id="map-container"></div>

<div class="card plan-card">
	<div class="card-header">
		<input type="text" class="form-control bg-light" id="input-search" placeholder="Search a Country or City">
	</div>
	<div class="card-body" id="plan-list">
		<!-- <strong>step 1</strong> -->
	</div>
</div>

<div class="card info-card hidden">
	<div class="card-header" id="description">
		Hello
	</div>
	<div class="card-body" id="info-list">
		<!-- <strong>step 1</strong> -->
	</div>
</div>




{{yield}}