
@import "ember-bootstrap/bootstrap";

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
  }

.carousel {
	height: 100%;
	margin: 0;
	padding: 0;

}

.index-image-display {
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;


}

#map-container {
	height: 100%; 
	width: 100%;
	position: absolute;
	background: #CCC;
}

.info-card {
	margin: 10px;
	max-width: 50%;
	position: absolute;
}

.plan-card{ 
	margin: 10px;
	max-width: 50%;
	float:right;
}


.cp-Panel {
  border: 1px solid #ddd;
}
.cp-Panel-toggle {
  display: block;
  padding: 1em;
}
.cp-Panel-toggle:link {
  text-decoration: none;
}
.cp-Panel-toggle:hover {
  background-color: whitesmoke;
}
.cp-Panel-body-inner {
  padding: 1em;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}



